# ignore everything in rawdata folders
rawdata/
# ignore everything in inventories folders
inventories/
# ignore everything in the papers folder
papers/
# ignore any temporary plots file
Rplots.pdf
# ignoring Binary files created by R
.RData
.Rhistory
